/* CSS declarations go here */
body {
  font-family: 'Poppins';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 14px;
}

/**/
.slide-right-enter {
  transform: translate(100%);
  opacity: 0.3;
}
.slide-right-enter.slide-right-enter-active {
  opacity: 0.3;
  transform: translate(0%);
  transition: transform 500ms ease-in-out;
}
.slide-right-leave {
  opacity: 0.3;
  transform: translate(0%);
}
.slide-right-leave.slide-right-leave-active {
  opacity: 0.3;
  transform: translate(-100%);
  transition: transform 500ms ease-in-out;
}

.slide-left-enter {
  opacity: 0.3;
  transform: translate(-100%);
}
.slide-left-enter.slide-left-enter-active {
  opacity: 0.3;
  transform: translate(0%);
  transition: transform 500ms ease-in-out;
}
.slide-left-leave {
  opacity: 0.3;
  transform: translate(0%);
}
.slide-left-leave.slide-left-leave-active {
  opacity: 0.3;
  transform: translate(100%);
  transition: transform 500ms ease-in-out;
}

/*
.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-leave {
  opacity: 0.01;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}*/