{
  "presets": ["@babel/preset-react", "@babel/preset-env", ["@babel/preset-typescript", { "allExtensions": true, "isTSX": true }]],
  "only": ["./**/*.js", "./**/*.jsx"],
  "plugins": [
    ["@babel/plugin-transform-runtime", {
      "regenerator": true
    }]
  ],
  "env": {
    "dev": {
      "plugins":["react-hot-loader/babel"]
    }
  }
}
