NODE_ENV=development
SUPPRESS_SELF_INVITE=
JOBS_SAME_PROCESS=1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=
APOLLO_OPTICS_KEY=
DEV_APP_PORT=8090
OUTPUT_DIR=./build
PUBLIC_DIR=./build/client
ASSETS_DIR=./build/client/assets
ASSETS_MAP_FILE=assets.json
CAMPAIGN_ID='campaign-id-hash'
DB_HOST=127.0.0.1
DB_PORT=28015
DB_NAME=spokedev
DB_KEY=
WEBPACK_HOST=localhost
WEBPACK_PORT=3000
AUTH0_LOGIN_CALLBACK=http://localhost:3000/login-callback
AUTH0_LOGOUT_CALLBACK=http://localhost:3000/logout-callback
AUTH0_DOMAIN=XXXX.auth0.com
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
BASE_URL=http://localhost:3000
SESSION_SECRET=set_this_in_production
DEFAULT_SERVICE=twilio
NEXMO_API_KEY=
NEXMO_API_SECRET=
TWILIO_API_KEY=
TWILIO_APPLICATION_SID=
TWILIO_AUTH_TOKEN=
TWILIO_MESSAGING_SERVICE_SID=
TWILIO_STATUS_CALLBACK_URL=
SSH_TUNNEL_TARGET=set_this_in_production
SSH_TUNNEL_KEY=set_this_in_production
SSH_TUNNEL_FORWARDS=set_this_in_production
MAILGUN_SECRET_KEY=set_this_in_production
MAILGUN_DOMAIN=
MAILGUN_FROM_EMAIL=
ROLLBAR_CLIENT_TOKEN=set_this_in_production
ROLLBAR_ACCESS_TOKEN=set_this_in_production
ROLLBAR_ENDPOINT=https://api.rollbar.com/api/1/item/
ALLOW_SEND_ALL=false


.env
