{
  "extends" : "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "semi": ["error", "never"],
    "comma-dangle": ["error", "never"],
    "no-alert": ["off"],
    "jsx-quotes": ["error", "prefer-single"],
    "max-len": ["off"]
  }
}
