/node_modules
/build
npm-debug.log
yarn-error.log
.DS_Store
rethinkdb_data
.env
__test__/test_data/*
production-env.json
claudia.json
stage.json
beta.json
stage-env.json
beta-env.json
test.sqlite
*~
*#
coverage/
.idea/
*sqlite
*.vscode
*.rdb
package-lock.json
