# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# devtools need to use lf linefeeds or nf will not be able to find the Procfile
dev-tools/* text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
