export NODE_ENV="development"
export AWS_ACCESS_KEY_ID=""
export AWS_SECRET_ACCESS_KEY=""
export APOLLO_OPTICS_KEY=""
export DEV_APP_PORT="8090"
export OUTPUT_DIR="./build"
export PUBLIC_DIR="./build/client"
export ASSETS_DIR="./build/client/assets"
export ASSETS_MAP_FILE="assets.json"
export CAMPAIGN_ID="'campaign-id-hash'"
export DB_HOST="127.0.0.1"
export DB_PORT="28015"
export DB_NAME="spokedev"
export DB_KEY=""
export JOB_DB_HOST="localhost"
export JOB_DB_PORT="6379"
export AUTH0_LOGIN_CALLBACK="http://localhost:3000/login-callback"
export AUTH0_DOMAIN="XXXX.auth0.com"
export AUTH0_CLIENT_ID=""
export AUTH0_CLIENT_SECRET=""
export AUTH0_LOGOUT_CALLBACK=""
export SESSION_SECRET="set_this_in_production"
export NEXMO_API_KEY=""
export NEXMO_API_SECRET=""
export TWILIO_API_KEY=""
export TWILIO_APPLICATION_SID=""
export TWILIO_AUTH_TOKEN=""
export TWILIO_STATUS_CALLBACK_URL=""
export SSH_TUNNEL_TARGET="set_this_in_production"
export SSH_TUNNEL_KEY="set_this_in_production"
export SSH_TUNNEL_FORWARDS="set_this_in_production"
export MAILGUN_SECRET_KEY="set_this_in_production"
export MAILGUN_DOMAIN=""
export MAILGUN_FROM_EMAIL=""
export ROLLBAR_CLIENT_TOKEN="set_this_in_production"
export ROLLBAR_ACCESS_TOKEN="set_this_in_production"
export ROLLBAR_ENDPOINT="https://api.rollbar.com/api/1/item/"
