language: node_js
node_js:
- "6.10.3"
services:
- postgresql
addons:
  sauce_connect:
    username: $SAUCE_USERNAME
    access_key: $SAUCE_ACCESS_KEY
env:
  global:
  - secure: TODO
before_script:
- dropdb spoke_test
- rm test.sqlite
- psql -c 'CREATE DATABASE spoke_test;' -U postgres
- psql -c "CREATE USER spoke_test WITH PASSWORD 'spoke_test';" -U postgres
- psql -c 'GRANT ALL PRIVILEGES ON DATABASE spoke_test TO spoke_test;' -U postgres
- curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
- chmod +x ./cc-test-reporter
- ./cc-test-reporter before-build
- chmod +x ./travis-run-e2e-tests
script:
- npm run test-coverage-bothbackends
- CC_TEST_RESULT=$?
- ./travis-run-e2e-tests
after_script:
- ./cc-test-reporter after-build --exit-code $CC_TEST_RESULT
