language: node_js
node_js:
  - "6.10.3"
services:
  - postgresql
before_script:
  - psql -c 'CREATE DATABASE spoke_test;' -U postgres
  - psql -c "CREATE USER spoke_test WITH PASSWORD 'spoke_test';" -U postgres
  - psql -c 'GRANT ALL PRIVILEGES ON DATABASE spoke_test TO spoke_test;' -U postgres
