language: node_js
node_js:
- "6.10.3"
services:
- postgresql
addons:
  sauce_connect:
    username: $SAUCE_USERNAME
    access_key: $SAUCE_ACCESS_KEY
env:
  global:
  - secure: TODO
before_script:
- psql -c 'CREATE DATABASE spoke_test;' -U postgres
- psql -c "CREATE USER spoke_test WITH PASSWORD 'spoke_test';" -U postgres
- psql -c 'GRANT ALL PRIVILEGES ON DATABASE spoke_test TO spoke_test;' -U postgres
- chmod +x ./travis-run-e2e-tests
script:
- ./travis-run-e2e-tests
- npm run test
