name: End-to-End Tests

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        node-version: [12.x]
    services:
      redis:
        image: redis
        ports:
        - 6379:6379
      postgres:
        image: postgres:10
        env:
          POSTGRES_USER: spoke_test
          POSTGRES_PASSWORD: spoke_test
          POSTGRES_DB: spoke_test
        ports:
        - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
    - uses: actions/checkout@v2
    - name: Cypress run
      uses: cypress-io/github-action@v2
      env: 
        NODE_ENV: test
        OUTPUT_DIR: ./build
        ASSETS_DIR: ./build/client/assets
        ASSETS_MAP_FILE: assets.json
        DB_TYPE: pg
        DEFAULT_SERVICE: fakeservice
        SESSION_SECRET: secret
        DB_NAME: spoke_test
        DB_USER: spoke_test
        DB_PASSWORD: spoke_test
      with:
        build: npm run prod-build
        start: npm run cypress-start
        wait-on: 'http://localhost:3001'
    - uses: actions/upload-artifact@v1
      if: failure()
      with:
        name: cypress-screenshots
        path: cypress/screenshots