name: Integration Tests

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        node-version: [12.x]
    services:
      redis:
        image: redis
        ports:
        - 6379:6379
      postgres:
        image: postgres:10
        env:
          POSTGRES_USER: spoke_test
          POSTGRES_PASSWORD: spoke_test
          POSTGRES_DB: spoke_test
        ports:
        - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
    - uses: actions/checkout@v2
    - name: Cypress run
      uses: cypress-io/github-action@v2
      env:
        DEBUG: '@cypress/github-action'
        NODE_ENV: test
        PORT: 3005
        OUTPUT_DIR: ./build
        ASSETS_DIR: ./build/client/assets
        ASSETS_MAP_FILE: assets.json
        DB_TYPE: pg
        DB_NAME: spoke_test
        DB_USER: spoke_test
        DB_PASSWORD: spoke_test
        SESSION_SECRET: secret
        DEFAULT_SERVICE: fakeservice
        JOBS_SAME_PROCESS: 1
        JOBS_SYNC: 1
        TASKS_SYNC: 1
        PASSPORT_STRATEGY: local
        PHONE_INVENTORY: 1
      with:
        browser: chrome
        build: npm run prod-build
        start: npm start
        wait-on: 'http://localhost:3005'
    - uses: actions/upload-artifact@v2
      if: failure()
      with:
        name: cypress-screenshots
        path: cypress/screenshots
    - uses: actions/upload-artifact@v2
      if: failure()
      with:
        name: cypress-videos
        path: cypress/videos
